*{
    margin:0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
#head{
    background-color: #b6ad90;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#name{
    position: relative;
    right:50px;
}
button{
    background-color: #656d4a;
    height: 30px;
    width:300px;
}
main{
    height: 5050px;
    display: flex;
    flex-direction: column;
}
.section1{
    height: 450px;
    background-color: #582f0e;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section2{
    height: 450px;
    background-color: #7f4f24;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section3{
    height: 400px;
    background-color: #936639;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section4{
    height: 380px;
    background-color: #a68a64;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section5{
    height: 380px;
    background-color: #b6ad90;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section6{
    height: 420px;
    background-color: #c2c5aa;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section7{
    height: 450px;
    background-color: #a4ac86;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section8{
    height: 380px;
    background-color: #656d4a;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section9{
    height: 460px;
    background-color: #414833;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.section10{
    height: 420px;
    background-color: #333d29;
}
.one{
    height: 440px;
    width: 600px;
    position: relative;
    left: 50px;
}
ul{
    font-size: 30px;
}
.foot{
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.link{
    display: flex;
    height: 30px;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
}