*{
    margin:0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
body{
    background-color:#b6ad90;
}
.head{
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    text-align: center;
    align-items: center;
}
select{
    height: 20px;
    width: 80px;
    border: none;
    background-color: #b6ad90;
}
h2{
    position: relative;
    right: 100px;
}
#log{
    position: relative;
    left: 80px;
}
.post{
    background-color:black;
    color: white;
    height: 25px;
    width: 130px;
    position: relative;
   text-align: center;
}
.post:hover{
    background-color: green;
}
.post:active{
    background-color:blue;
}
.back{
    height:550px;
    width: 1510px;
    background-image:url("City.jpg");
    background-size: contain;
}
.box{
    width: 500px;
    height: 180px;
    position: relative;
    bottom: 500px;
    left:600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
}
.search{
    position: relative;
    right: 100px;
    height: 30px;
    width: 700px;
    border-radius: 10px;
}
.res{
    position: relative;
    bottom:140px;
    text-align: center;
    height: 30px;
    width:300px;
    background-color: black;
    color: white;
}
.other{
    display: flex;
    justify-content: space-around;
}
@keyframes move{
    from{
       transform: translate(0px);
    }
    to{
        transform: translate(300px);
    }
}
.slide{
    height: 550px;
    width:450px;
    background-color: #c2c5aa;
    position: relative;
    right: 455px;
    animation: move 1s 1s forwards;
    display: flex;
    flex-direction: column;
}
.dashboards{
    height: 330px;
    position: relative;
    top:200px;
    left:140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.res:hover{
    background-color: green;
}
.res:active{
    background-color:blue;
}
.foot{
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.link{
    display: flex;
    height: 30px;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
}